@media only screen and (min-width: 768px) {
  .bshadow-container {
    max-height: 90vh;
    overflow-y: auto;
  }
}

.c-pointer {
  cursor: pointer;
}

.underline:hover {
  text-decoration: underline;
}

.button-p {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}

.clipboard-alert {
  position: fixed !important;
  bottom: 0;
  right: 15px;
}
